*{
    padding: 0;
    margin: 0;
}
h1 h2 h3 h4 h5 h6 p ul{
    padding: 0;
    margin: 0;
}

body{
    font-family: Lato, sans-serif;
}

        /* header css start */

.nav-link{
    margin-right: 30px;
    font-size: 16px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(45, 57, 80);
}

        /* header css end */

        /* banner css start */

.banner_section{
    background-image: url(image/Strict.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    padding: 200px 0px 100px;
    position: relative;
}

.banner_section h1{
    text-transform: uppercase;
    font-size: 120px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}

.banner_section span{
    display: block;
    width: 50%;
    height: 2px;
    background: rgb(21, 164, 250);
    margin: 15px auto 25px;
}

.banner_section p{
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 70px;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn-custom{

border: 1px solid rgb(21, 164, 250);

padding: 16px 50px;

text-transform: capitalize;

color: rgb(255, 255, 255);

font-size: 18px;

border-radius: 4px;

font-weight: 400;
}

.arrow{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0px);
    color: white;
    animation: 1s linear 0s infinite alternate none running updown;
    font-size: 25px;
}
@keyframes updown {
    0% {
        bottom: 130px;
    }

    100% {
        bottom: 100px;
    }
}
.arrow a {
    color: white;
}
.btn-custom:hover {
    background-color: rgb(21, 164, 250);
    color: #fff;
    transition: all 0.5s ease-in-out 0s;
}

        /* banner css end */

         /* content css start */

.content_section{
    
    background: rgb(246, 249, 249);

}

.content_section h1{

text-transform: none;

margin: 50px 0 25px;

font-size: 40px;

font-weight: 400;

color: rgb(45, 57, 80);
}
    
.content_section p{
    color: rgb(153, 153, 153);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

    /* content css end */

    /* feature css start */


.feature_section{
 padding: 100px 0;

} 
.feature_section i {
    font-size: 44px;
    margin-bottom: 20px;
    background: linear-gradient(to right, rgb(72, 186, 255) 0%,
                    rgb(72, 186, 255) 50%, rgb(95, 195, 255) 50%,
                    rgb(95, 195, 255) 100%);
    padding: 25px 0px;
    color: white;
    height: 100px;
    width: 100px;
}
.feature_section h2 {
    text-transform: capitalize;
    color: rgb(45, 57, 80);
    font-size: 25px;
    font-weight: 400;
}
.feature_section p {
    color: rgb(153, 153, 153);
    font-weight: 400;
    margin: 15px 41px;
}

    /* feature css end */

    /* gallery css start */


.gallery_section{
    background: rgb(246, 249, 249);
} 
.gallery_section h1{
    font-size: 41px;
    font-weight: 400;
    margin-bottom: 13px;
    color: rgb(45, 57, 80);
}

.gallery_section p{
    font-weight: 400;
    color: rgb(144, 144, 144);
    font-size: 18px;   
}

.zoom{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    display: flex;
    justify-content: space-between;
    
}

.zoom a{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.zoom a:hover{
    background-color:rgb(21, 164, 250) ;
    border-color: rgb(21, 164, 250);
    transition: 0.3s ease-in-out;
}
.hover_left{
    position: relative;
    overflow: hidden;
    padding: 0;
}

.hover_left img{
    width: 100%;
}

.hover_left::before {
    content: " ";
    background-color: rgb(37, 164, 242);
    height: 100%;
    width: 0%;
    top: 0px;
    left: 0%;
    position: absolute;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    
}
.hover_left:hover::before {
    width: 100%;
}
.hover_left:hover .zoom {
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    top: 50%;
}
.hover_down{
    position: relative;
    overflow: hidden;
    padding: 0;
}

.hover_down img{
    width: 100%;
}

.hover_down::before {
    content: " ";
    background-color: rgb(37, 164, 242);
    height: 0%;
    width: 100%;
    top: 0px;
    left: 0%;
    position: absolute;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    
}
.hover_down:hover::before {
    height: 100%;
}

.hover_down:hover .zoom {
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    top: 50%;
}

.hover_right{
    position: relative;
    overflow: hidden;
    padding: 0;
}

.hover_right img{
    width: 100%;
}

.hover_right::before {
    content: " ";
    background-color: rgb(37, 164, 242);
    height: 100%;
    width: 0%;
    top: 0px;
    right: 0%;
    position: absolute;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    
}
.hover_right:hover::before {
    width: 100%;
}

.hover_right:hover .zoom {
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    top: 50%;
}


.hover_up{
    position: relative;
    overflow: hidden;
    padding: 0;
}

.hover_up img{
    width: 100%;
}

.hover_up::before {
    content: " ";
    background-color: rgb(37, 164, 242);
    height: 0%;
    width: 100%;
    left: 0px;
    bottom:0px;
    position: absolute;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    
}
.hover_up:hover::before {
    height: 100%;
}
.hover_up:hover .zoom {
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    top: 50%;
}

    /* gallery css end */

    /* form css start */

.form_section {
    background-image: url("../image/banner2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0px 120px;
    position: relative;
    z-index: 0;
}
.form_section::before {
    content: "";
    background-color: rgb(45, 57, 77);
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    position: absolute;
    opacity: 0.8;
    z-index: -1;
}

.heading{

}

.heading h1{
    font-size: 45px;
    font-weight: 400;
    color: white;
    font-family: Lato, sans-serif;
    margin: 40px 0px 10px;
}


.heading p{
    color: rgba(153, 153, 153, 0.6);
    font-weight: 400;
    margin: 0px 0px 60px;
    font-family: Lato, sans-serif;
}



form input {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(153, 153, 153, 0.6);
    padding: 20px 0px 20px 5px;
    margin-bottom: 20px;
    border-radius: 4px;
}
form textarea {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 5px;
    padding: 5px 0px 20px 5px;
    margin-bottom: 20px;
}
.checker {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checker input {
    width: auto;
    margin: 0px;
    padding: 15px 60px;
    color: white;
    border-color: rgb(21, 164, 250);
    font-size: 16px;
}
.checker_box {
    display: flex;
    justify-content: space-between;
}
.checker_box input {
    margin: 0px;
    color: rgb(154, 160, 170);
    background: transparent;
}
.checker_box p {
    margin: 0px 0px 0px 15px;
    color: white;
    font-weight: 400;
    font-family: Lato, sans-serif;
}
input[type="submit"]:hover {
    background-color: rgb(21, 164, 250);
    transition: all 0.5s ease-in-out 0s;
}
input[type="checkbox"] {
    width: 20px;
    height: 15px;
    line-height: normal;
    margin: 3px 0px 0px;
}
    /* form css end */


    /* footer css start */

.footer_section{

background: #fff;
}


.copy_right p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 10px;
}


.media ul {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.media ul li {
    
width: 40px;
    
height: 40px;
    
background: rgb(21, 164, 250);
    
text-align: center;
    
line-height: 35px;
    
border: 3px solid rgb(21, 164, 250);
    
border-radius: 5px;
    
font-size: 18px;
    
transition: 0.3s all ease-in-out;
    
margin-right: 20px;
}
.media ul li a {
    color: white;
    transition: 0.3s all ease-in-out; 
    display: block;
}
.media ul li a:hover{
    color:rgb(21, 164, 250);
        
}
.media ul li:hover{
    background-color:transparent;
}


    /* footer css end */
